<!doctype html>

<html>
<head>
  <title>ODI Policy Guide</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="../public/css/odi.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <script src="../public/js/canvas-to-blob.min.js"></script>
  <script src="../public/js/odi.js"></script>
  <link rel="stylesheet" href="../public/css/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <link href="/css/odi.css" rel="stylesheet">

    <!-- h1 through h6 are headers. The higher the number, the smaller the header -->
    <!-- p means paragraph -->
    <div class="jumbotron">
        <img src="../public/images/odi-logo.png" width="300"></img>
        <br><br><br><br><br><br>
        <h1><center>Policy Guide</center></h1>
        <br>
        <input type="text" placeholder="Search" style="width: 300px; float: right;"></input>
    </div>

    <hr>

    <div id="intro">
      <center><h2>Introduction</h2></center>
      <br>
      <center>
      <div class="row">

        <div class="col">
          <a href="overview.html"><img class="intro" id="overview" src="../public/images/o.gif" style="max-width: 200px"/></a>
          <br/>
          <br/>
          <a href="overview.html"><h5><center>Overview</center></h5></a>
        </div>

        <div class="col">
          <a href="training-communication.html"><img class="intro" id="ts" src="../public/images/tc.gif" style="max-width: 200px"/></a>
          <br/>
          <br/>
          <a href="training-communication.html"><h5><center>Training & Communication</center></h5></a>
          <br/>
        </div>

        <div class="col">
          <a href="operational-definitions.html"><img class="intro" id="od" src="../public/images/od.gif" style="max-width: 200px"/></a>
          <br/>
          <br/>
          <a href="operational-definitions.html"><h5><center>Operational Definitions</center></h5></a>
          <br/>
        </div>

      </div>
    </center>

    <hr>
    <div id="policies">
      <center><h2>Policies</h2></center>
      <br>
      <center>
      <div class="row">

        <div class="col">
          <a href="risk-management.html"><img class="policies" id="rm" src="../public/images/rm.gif" style="max-width: 200px"/></a>
          <br/>
          <br/>
          <a href="risk-management.html"><h5><center>1. Risk Management</center></h5></a>
        </div>

        <div class="col">
          <a href="human-resources.html"><img class="policies" id="hr" src="../public/images/hr.gif" style="max-width: 400px"/></a>
          <br/>
          <br/>
          <a href="human-resources.html"><h5><center>2. Human Resources</center></h5></a>
          <br/>
        </div>

        <div class="col">
          <a href="financial-management.html"><img class="policies" id="fm" src="../public/images/fm.gif" style="max-width: 400px"/></a>
          <br/>
          <br/>
          <a href="financial-management.html"><h5><center>3. Financial Management</center></h5></a>
          <br/>
        </div>

        <div class="col">
          <a href="program-services.html"><img class="policies" id="ps" src="../public/images/ps.gif" style="max-width: 400px"/></a>
          <br/>
          <br/>
          <a href="program-services.html"><h5><center>4. Program Services</center></h5></a>
          <br/>
        </div>
      </div>

      <div class="row">

        <div class="col">
          <a href="fundraising.html"><img class="policies" id="fr" src="../public/images/fr.gif" style="max-width: 400px"/></a>
          <br/>
          <br/>
          <a href="fundraising.html"><h5><center>5. Fundraising</center></h5></a>
        </div>

        <div class="col">
          <a href="operational-management.html"><img class="policies" id="om" src="../public/images/om.gif" style="max-width: 400px"/></a>
          <br/>
          <br/>
          <a href="operational-management.html"><h5><center>6. Operational Management</center></h5></a>
          <br/>
        </div>

        <div class="col">
          <a href="communication.html"><img class="policies" id="co" src="../public/images/co.gif" style="max-width: 400px"/></a>
          <br/>
          <br/>
          <a href="communication.html"><h5><center>7. Communication</center></h5></a>
          <br/>
        </div>

        <div class="col">
          <a href="facility-supply.html"><img class="policies" id="fs" src="../public/images/fs.gif" style="max-width: 400px"/></a>
          <br/>
          <br/>
          <a href="facility-supply.html"><h5><center>8. Facility & Supply</center></h5></a>
          <br/>
        </div>

      </div>
    </center>
    </div>

    </div>
  </div>
</body>
</html>
